.idea
*.py[cod]
*$py.class
.DS_Store
env/
secrets.ini
SHRUB_*/build/
SHRUB_*/dist/
SHRUB_*/src/SHRUB_*.egg-info/
SHRUB_*/.tox/
SHRUB_*/log/
SHRUB_*/output/
SHRUB_*/.coverage
SHRUB_*/mprofile_*.dat
SHRUB_*h/memory-profile.png
SHRUB_mgmt/OiaDev/
SHRUB_mgmt/OiaTest/
SHRUB_mgmt/OiaDevDev/
venv-*/
.idea/
**/__pycache__/

